layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Powerful PHP Computer Vision Library
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Fast, C\C++ low layer implementation
      p.intro-feature-desc PHP expansion based on C\C++ OpenCV interface, processing speed is fast.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title PHP language support
      p.intro-feature-desc Using PHP, you can do computer vision development, support PHP7+ and the latest version of OpenCV3.3.0+.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Continuous development and maintenance
      p.intro-feature-desc The extension target is to implement the PHP interface of the OpenCV version.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Rich interface
      p.intro-feature-desc In addition to image and video processing, face recognition, object detection and other functions are also provided.