layout: index
description: Powerful PHP Computer Vision Library.
subtitle: PHP计算机视觉库
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 快速，C\C++低层实现
      p.intro-feature-desc 基于C\C++ OpenCV接口开发的PHP扩展，处理计算速度快。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title php语言支持
      p.intro-feature-desc 使用PHP便可以做计算机视觉开发，支持PHP7+和最新版OpenCV3.3.0+。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 持续开发维护
      p.intro-feature-desc 扩展目标是实现OpenCV版的PHP接口。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富的接口
      p.intro-feature-desc 除了图像视频处理外，还提供人脸识别，物体检测等功能。